#main {
	overflow: hidden;
	margin-bottom: 250px;
}
#main:after {
	display: table;
	content: "";
	clear: both;
}
#main #welcome {
	margin-top: 100px;
}
#main #welcome h2 {
	font-weight: bold;
	font-size: 60px;
	line-height: 100px;
}
#main #welcome p {
	font-size: 20px;
	line-height: 40px;
}
#main #poem {
	float: right;
	margin-top: 150px;
	width: 40%;
}
#main #poem h2 {
	font-size: 50px;
}
#main #poem p {
	line-height: 50px;
}
#main #poem span {
	display: block;
}

#best {
	overflow: hidden;
	margin: auto;
	margin-bottom: 250px;
}
#best:after {
	display: table;
	content: "";
	clear: both;
}
#best h2 {
	font-size: 40px;
	margin-bottom: 120px;
}
#best h3 {
	margin-bottom: 20px;
}

#best #best_poem, #best_story { 
	width: 45%;
}

#best #best_poem {
	float: left;
}

#best #best_story {
	float: right;
}

#intro {
	overflow: hidden;
	line-height: 40px;
	margin-bottom: 250px;
}
#intro h4 {
	font-size: 30px;
	margin: 50px 0;
}
#intro #birth {
	width: 100%;
}
#intro #menual {
	width: 40%;
	float: right;
}

#start {
	height: 750px;
	width: 100%;
	text-align: center;
}
#start h3 {
	font-size: 40px;
	color: #faf5e6;
	margin-bottom: 50px;
}
#start #login {
	float: left;
	width: 40%;
}
#start #regist {
	float: right;
	width: 40%;
}
#start input[type=text], #start input[type=password] {
	width: 100%;
	padding: 15px;
	margin-bottom: 20px;
	display: inline-block;
	border: none;
	background: #f1f1f1;
	border-radius: 5px;
}
#start input[type=text]:focus, #start input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}
#start button {
	background-color: #fbbd0d;
	padding: 15px 20px;
	border: none;
	width: 50%;
	opacity: 0.9;
	border-radius: 5px;
	font-size: 16px;
}
#start button:hover {
	opacity: 1;
	transition: 0.2s;
}

#start #login #find_area {
	margin-top: 30px;
}

#start #login #find_area a:hover {
	color: #fbbd0d;
	transition: 0.2s;
}

#start #login #find_area #find_id {
	display: none;
	margin-bottom: 30px;
}

#start #login #find_area #change_password {
	display: none;
	margin-bottom: 30px;
}

#start #login #find_area #find_guide, #change_guide {
	border: 1px solid #fbbd0d;
	margin: 20px 0;
	padding: 20px;
}

#my {
	margin-bottom: 250px;
}

#my a {
	display: inline-block;
	border: 1px solid #fbbd0dbf;
	padding: 10px 20px;
}

#my a:hover {
	transition: 0.2s;
	border: 1px solid #fbbd0d;
	color: #fbbd0d;
}










